{% extends 'base.html' %} {% load static %} {% block content %}

<div class="container">
  <div class="row mt-5">
    <h3 class="text-center alert alert-danger">Login Page</h3>
    <div class="col-sm-6 offset-3">
      <form action="" method="POST">
        {% csrf_token %} 

        {% if form.non_field_errors %} 
        {% for error in form.non_field_errors %} 
        <span style="color: blue;"><p>{{error}}</p></span>
        {% endfor %} 
        {% endif %} 
        
        


        {% for fm in form %} {{fm.label_tag}} {{fm}} {{fm.errors|striptags}}<br /><br />

        {% endfor %}

        
        <input type="submit" value="submit" class="btn btn-primary" />
        <a href="{% url 'signup' %}" class="btn btn-success">Signup</a>
      </form>

      
    </div>
  </div>
</div>

<!-- {% if messages %} {% for mes in messages %}

<small {% if mes.tags %} class="{{mes.tags}}" {% endif%}>{{mes}}</small>

{% endfor %} {% endif %}  -->

{% endblock content %}
